.wings {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 100%;
}

.flying-car {
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
}

.wings-text {
    font-family: Protipo;
    display: inline-block;
}

.wings-bullet-list {
    list-style-type: none;
}

.scouting {
    background-color: rgb(227, 227, 227);
    height: 400px;
    width: 100%;
}

.partners {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
}

.investors {
    background-color: rgb(227, 227, 227);
    height: 400px;
    width: 100%;
}

.program-recap {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
}

p {
    margin: 0; 
    padding-top: 10px;
    font-family: Protipo;
    text-align: center;
}

